* {
  color: white;
  background-color: #282c34;
  text-decoration: none;
}
header {
  justify-content: center;
  align-items: flex-start;
  padding-left: 20vh;
  min-height: 15vh;
}
body {
  min-height: 70vh;
  justify-content: center;
  align-items: center;
}

footer {
  justify-content: center;
  align-items: center;
  min-height: 1vh;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}

.divForms {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
input[type=text],input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
